* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(rgba(20, 55, 20, 0.45),rgba(10, 35, 15, 0.55)), url("matcha.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.matcha {
    font-size: 50px;
    color: rgb(149, 209, 125);
    margin-bottom: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.wrapper {
    width: 420px;
    margin: auto;
    padding: 40px;
    color: rgb(20, 45, 10);
    background: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(5, 53, 12, 0.5);
    border-radius: 30px;
}
.wrapper h2 {
    font-size: 35px;
    margin-bottom: 30px;
    color: rgb(25, 68, 25);
}
.input-box {
    text-align: left;
    margin-bottom: 20px;
}
.input-box label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}
.input-box input {
    width: 100%;
    height: 48px;
    padding: 0 18px;
    background: rgba(114, 111, 111, 0.5);
    border: 2px solid rgba(1, 34, 3, 0.7);
    border-radius: 25px;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
}
.input-box input::placeholder {
    color: rgb(14, 41, 1);
}
.input-box input:focus {
    background: rgba(31, 95, 25, 0.75);
    border-color: rgb(28, 168, 37);
    box-shadow: 0 0 8px rgba(5, 46, 8, 0.3);
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 25px;
    font-size: 14px;
}
.remember-forgot a {
    color: rgb(10, 45, 10);
    text-decoration: none;
    font-weight: bold;
}
.btn {
    width: 100%;
    height: 48px;
    background: rgb(5, 55, 15);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.signup {
    margin-top: 25px;
    font-size: 14px;
    color: rgb(20, 40, 15);
}
.signup a {
    color: rgb(5, 55, 15);
    font-weight: bold;
    text-decoration: none;
}